body {

	line-height: 24px;
    font-family: "PT Sans Narrow", sans-serif, Arial;
    font-weight: 700;
	font-size: 14px;
	color: #fff;
	margin: 0px;
	text-transform: uppercase;
  background-color: #000;
  background: url(../img/index-background.jpg);

	
	
}



.site-header {
width:100%;
margin-bottom: 0px;
background-color: #000;
font-size: 16px;

}



.container {
	width:940px;
	margin: auto;


}
.main-menu ul {
list-style: none;
margin-top: 0px;
padding-left: 0px;




}

.main-menu li{
position: relative;
display: inline-block;


}



li.current::before {
content: "";
position: absolute;
bottom: 6px;
right: 20px;
left: 20px;
height: 3px;
background-color: #fff;




}

.main-menu a {
display: block;
text-decoration: none;
padding: 20px 20px;
line-height: 30px;
color:#fff;

}

li.small-logo a{

 background-image: url(../img/smalllogo.png);
 background-repeat: no-repeat; 
 background-position: 0 25px;
 color: transparent;

}

.userblock  {
display: inline-block;
vertical-align: top;
width:90px;
float:right;

}
.userblock a {
height: 100%;
padding: 20px 20px;
line-height: 30px;
padding-left: 40px;
background:  url(../img/icon-login.png) no-repeat 10px 26px; //**КАРТИНКА ВХОДА**//
}
.logo img {

padding-top: 50px;
}
div.logo {
display: block;
margin: auto;
width: 368px; 
margin-bottom: 37px;

}
main {
margin-top:  -20px;
background-color: black;


}
.features-name {
font-size: 30px;
text-align: center; 
}

/* РОМБИКИ НА ГЛАВНОЙ ПОД ФИЧАМИ*/
.features-name:after {
 content: "";
 display: block;
 position: relative;
 left: 148px;
 top: 20px;
 width: 20px;
 height: 20px;
 background-color: #fff;
  -moz-transform: rotate(45deg); /* Для Firefox */
  -ms-transform: rotate(45deg); /* Для IE */
  -webkit-transform: rotate(45deg); /* Для Safari, Chrome, iOS */
  -o-transform: rotate(45deg); /* Для Opera */
  transform: rotate(45deg);
}

section.features {
text-align: center;
margin-bottom: 80px;




}
.features-item {
display: inline-block;
width: 314px;
text-align: center;
vertical-align: top; 
}

.index-content {
display:block;
width:780px;
background: url(../img/column-separator.png)  no-repeat center, url(../img/noise.jpg);
color: black;
margin-bottom: 30px;
padding: 50px 80px;

}
.index-content p {
	margin-bottom: 0;
	
}

ul.news-preview {
list-style: none;
margin:0;
padding: 0px 0px;	
padding-right: 10px;
}


.index-content-left {
display: block;
float: left;
width: 330px;

	
}


.index-content-right {
float:right;
width: 320px;
margin-right:-20px;
}

.index-content-title {
font-size: 30px;
margin:0;
padding-bottom: 0;
margin-bottom: 0;


}

figure.gallery-container {
margin: 0;	
margin-top:20px;


}
.gallery-container img {
border: solid white 7px;	
}

a.btn,
.btn {
float: left;
width: 140px;
margin:0;
margin-top: 32px;
margin-right: 20px;
background-color: black;
color:white;
font-weight: normal;
text-decoration: none;
text-transform: uppercase;
text-align: center;
padding: 10px 0;
outline:none;
border:none; 
}
.index-content-right .btn {
margin-top: 25px;

}

time {
font-weight: normal;
font-style: italic;

}
.appointment input {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 106px;
    padding: 10px 15px;
    border: 2px solid black;
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    background: #f9f6f3;
    outline: none;
    background: white url("../img/noise.jpg");
    color: #000;

}

/*  ЦВЕТ ПЛЕЙСХОЛДЕРА*/

input::-moz-placeholder {
  color:#000;
  line-height: 24px;
  font-family: "PT Sans Narrow", sans-serif, Arial;
  font-weight: 700;
  font-size: 14px;
  opacity: 1.0;

}

input::-webkit-input-placeholder {
  color:#000;
  line-height: 24px;
  font-family: "PT Sans Narrow", sans-serif, Arial;
  font-weight: 700;
  font-size: 14px;
  opacity: 1.0;


}

.appointment input:focus{

border:  2px solid #663d15;

}





.appointment .btn {
color: #fff;
background: black;
width: 300px;
text-align: center;
padding: px 0;
margin-top: 6px;
border:none;
}
.site-footer {
display: block;
width: 100%;
height: 140px;
padding-top: 50px;
background-color: #232323;
background-image: url(../img/footer-noise.png);	
}
section.contacts {
display: block;
float: left;
width: 314px;
}
section.contacts a {
color: #fff;	
}

section.social {
display: block;
float: left;
margin-left: 90px;
width:148px;
text-align: center;	
}
.social a {
display: block;
float: left;
width: 42px;
height: 42px;
margin-right: 6px;
background-color: #000;

}
.social-vk {
background-image: url(..//img/v.png);
background-repeat: no-repeat; 
background-position: 50% 50%;

}

.social-fb {
background-image: url(..//img/f.png);
background-repeat: no-repeat;
background-position: 50% 50%;


}
.social-inst {
background-image: url(..//img/insta.png);
background-repeat: no-repeat; 
background-position: 50% 50%;


}

section.copyright {
display: block;
float: right;
width: 150px;
text-align: center;	

}
.author-name {
display: block;
float: left;
width: 140px;
margin:0;
margin-right: 20px;
background-color: black;
color:white;
font-size: 16px;
text-transform: uppercase;
font-weight: bold;
font-weight: normal;
text-decoration: none;
text-align: center;
padding: 9px 0;


}

/* ЭФФЕКТЫ МЕНЮ И КНОПОК*/

.main-menu li:hover {
 background-color: #242424;

}

.userblock a:hover {
background: #242424 url(../img/login-active.png) no-repeat 10px 26px;

}

.btn:hover
{
background-color: #663d15;

}

.author-name:hover,
.social a:hover {
background-color: #fff;
color: #000;
}

.social-vk:hover {
background-image: url(../img/v-active.png);

}

.social-fb:hover {
background-image: url(../img/f-active.png);

}

.social-inst:hover {
background-image: url(../img/insta-active.png);

}

/*СТИЛИ item.html*/

.clearfix:after {
    
display: table;
    content: "";
    clear: both;}

.shop-container {
display: block;
background-image: url(../img/noise.jpg);
color: #000;
 
}
.shop-title {
font-size: 30px;
color: #000;
text-transform: uppercase;
padding-top: 60px;
margin-top: 0;

}

.shop-link {
  display: block;
  float:left;
  width: 50px;
  margin-right: 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}

.shop-container ul {
color: #000;
list-style: none;
padding-left: 0;

}


.shop-container li:before {
content: "◆";
margin-right: 10px;
text-transform: uppercase;

}
{



}
.shop-container li {
 display: inline-block;
 float: left;
 margin-right: 10px;
 text-transform: uppercase;
}


.shop-container li a {
color: #000;
text-decoration: none;
text-transform: uppercase;

}

.shop-container li:last-child a{
 opacity: .5; 
}

.shop-left-container {
 display: block;
 float: left;
 clear: left;
 width: 480px;
 padding-top: 55px;
 color:#000; 
}
.shop-left-container img {
box-shadow: 0 0 10px;
text-align: center;
margin-bottom: 20px;
}

.shop-left-container .preview img {
margin-right: 17px;
margin-bottom: 50px;

}

.shop-right-container {
 display: block;
 float: left;
 width: 380px;
 padding-top: 55px;
 margin-left: 40px;
 color:#000; 
 
}

.shop-available-articul {
width: 380px;
}
.shop-available-articul td{
	border:none;
}
.shop-available-articul td:last-child {
text-align: right;
opacity: .5;
}

.price {
 display: inline-block;
 float: left;
 width: 110px;
 margin-top: 45px;
 padding: 10px;
 text-align: center;
 background-color: #e5e5e5;
 color: #000;
 text-transform: uppercase;
}

a.btn-shop {
margin-top: 45px;
width: 75px;
}
.feature-name {
 clear: both;
 font-size: 24px;
 text-transform: uppercase;
 margin-top: 65px; 
}

ul.features {
padding-left: 0;
margin-right: 50px;
}

/*СТИЛИ КАТАЛОГА МАГАЗИНА*/

.catalog-filters {
display: block;
float: left;
clear: left;
width: 235px;	
}

.catalog {
display: block;
float: right;
width: 705px;
margin-top: 65px;


}

label {
text-transform: uppercase;
cursor: pointer;

}

/* СТИЛИ ЧЕКБОКСОВ И РАДИО */

input[type=checkbox],
input[type=radio] {
display: none;

}

label.check,
label.radio {
position: relative;	

}

label.check:before {
content: "";
display: inline-block;
position: relative;
top: 5px;
width: 16px;
height: 16px;
border: solid #000 2px;
margin-right: 20px;



}

input[type=checkbox]:checked + label.check:after {
 
content: "\2716";
position: absolute;
top: 1px;
left: 2px;
font-size: 18px;
text-align: center;
line-height: 18px;

}

label.radio:before {
content: "";
display: inline-block;
position: relative;
top: 5px;
width: 16px;
height: 16px;
border-radius: 16px;
border: solid #000 2px;
margin-right: 20px;

}

input[type=radio]:checked + label.radio:after {
 
content: "⚫";
position: absolute;
top: -3px;
left:2px;
font-size: 17px;
text-align: center;

}

/*Конец стилей чекбоксов*/

.pages {
	display: block;
	float: left;
	clear: left;
}
.catalog-item {
display: inline-block;
float: left;
width: 220px;
box-shadow: 0 0 5px;
background-color: #fff;
padding-bottom: 20px;
margin-right: 20px;
margin-bottom: 20px;

}

.catalog-item:nth-child(3n) {
margin-right: 0px;	
}



p.catalog-descr {
margin-left: 20px;
margin-top: 0;
line-height: 1.2em;

}
.catalog-item div.price {
margin:0;
margin-left: 20px;
width: 110px;
padding: 10px 0;	
}

.catalog-item .btn-shop {
margin: 0;


}

.pages {
 display: block;
 float: left;
 margin-top: 20px;
 margin-bottom: 40px; 
}

.page {
 display: inline-block;
 padding: 10px 20px;
 margin-right: 5px;
 color: #fff;
 background-color: #000;

}

.current-page {
color:#000;
background-color: #fff;

}

/* ПРАЙС ЛИСТ*/

.container-title {
display: block;
margin: auto;
text-align: center;
font-size: 48px;
margin-bottom: 75px;


}

.container-title p {
display: inline;
margin: auto;
position: relative;
top:52px;
padding: 0 25px;
background-image: url(../img/noise.jpg);
z-index: 2;

}

.container-title::before {
content:"";
display: block;
position: relative;
top: 65px;
border: solid #000 1px;
z-index: 1;

}

.price-left {
display: block;
float: left;
width: 330px;


}

.price-left li {
clear: left;
margin-bottom: 20px;  
}

.price-right {
display: block;
float: right;
width: 500px;

}


table.price {

display: block;
width: 460px;
margin-top: 0px;
margin-bottom: 120px;
border-collapse: collapse;
background-image: url(../img/noise.jpg);

}

td {
border: solid black 2px;
width: 230px; 
}

table.price td:nth-child(2n+1) {
text-align: left;
padding-left: 20px;  

}

/*ПОПАП ОКНА*/

.popup-login {
display: none;
position: absolute;
left:50%;
top:120px;
margin-left: -230px;
width:300px;
padding:30px 80px;
color: #000;
background: #fff url(../img/noise.jpg);
box-shadow: 2px 2px 5px 3px;
z-index: 20;

}


.popup-login-close
 {
position: absolute;
top:0px;
right:-25px;	
background: transparent;
font-size: 0;
outline:none;
border:none;
width:20px;
height:20px;
cursor:pointer;	

}

.popup-login-close::before,
.popup-login-close::after {
content:"";
position: absolute;
top:8px;
left:0px;
display: block;
width:19px;
height:3px;
border:solid #fff 1px;
background-color: #d0d0d0;
border-radius: 1px;

}

.popup-login-close::before {
transform: rotate(45deg);	
}

.popup-login-close::after {
transform: rotate(-45deg);	
}

.popup-login input[type=text], 
.popup-login input[type=password] {
	width:236px;
	margin:0px;
	margin-bottom:10px;
	padding: 10px 20px;
	padding-right: 40px;
	font-family: "PT Sans Narrow", sans-serif, Arial;
    font-weight: 700;
	font-size: 14px;
	color: #000;
	border:solid #000 2px;
}

.popup-login input[type=text] {
background: url(../img/User.png) no-repeat 270px 10px;	

}

.popup-login input[type=password] {
background: url(../img/Locked.png) no-repeat 270px 10px;	

}

.popup-login a {
float: right;
line-height: 28px;
color: #000;

}

.popup-login .btn { 
display: block;
width:100%;
}

.popup-map {
display: none;
position: fixed;
left:50%;
top:50%;
transform:translate(-50%, -50%);
border:solid #fff 7px;
background-color: #fff;
box-shadow: 0px 10px 5px 10px rgba(0,0,0,.5);
z-index:20;	
}

.popup-map-close {
position: absolute;
top: -5px;
right:-30px;	
background: transparent;
font-size: 0;
outline:none;
border:none;
width:20px;
height:20px;
cursor:pointer;	
}

.popup-map-close::before,
.popup-map-close::after {
content:"";
position: absolute;
top:8px;
left:0px;
display: block;
width:20px;
height:3px;
border:solid #fff 1px;
background-color: #d0d0d0;
border-radius: 1px;
}

.popup-map-close::before {
transform:rotate(45deg);
}
.popup-map-close::after {
transform:rotate(-45deg);
}

.overlay {
display: none;
position: fixed;
top:0;
left:0;
width: 100%;
height: 100%;
z-index: 10;
background-color: rgba(0,0,0,.8);	
}

.popup-show {
display: block;	
}